{% extends "layout.html.twig" %}

{% block title 'Mes article' %}

{% block content %}
    <h1>Gestion des Articles</h1>
    <p>
        <a href="{{ path('admin_article_edit') }}" class="btn btn-primary">Créer un Article</a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Header</th>
            <th>Rubrique</th>
            <th>Edition</th>
            <th>Suppression</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.header }}</td>
                <td>{{ article.categoryName }}</td>
                <td><a href="{{ path('admin_article_edit', {id : article.id }) }}" class="btn btn-info">Editer</a></td>
                <td><a href="{{ path('admin_article_delete', {id : article.id }) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}